body {
    background-color: lightblue;
}

h1 {
    color: navy;
}

.battleScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.battleMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.battleOption {
    display: flex;
    justify-content: space-around;
}

.monSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
}
.monDisplay {
    display: flex;
    flex-grow: 3;
    font-size: 1.5em;
}