html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

h1 {
    display: flex;
    color: navy;
    align-self: center;
}

.battleScreenContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;

}

.battleScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 0;
}

.battleMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menuDropdownSection {
    display: flex;
    flex-direction: row;
}

.battleOption {
    display: flex;
    justify-content: space-between;
}

.yours {
    display: flex;
    flex-direction: row;
}
.theirs {
    display: flex;
    flex-direction: row-reverse;
}

.messageBox {
    display: flex;
    border-style: solid;
    background-color: aliceblue;
    border-color: blueviolet;
    border-width: 1px;
    flex-grow: 5;
    margin-right: 50px;
}

.monSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}
.monImage {
    display: flex;
    flex-grow: 3;
    font-size: 1.5em;
}
.healthDisplay {
    display: flex;
    align-self: center;
}

.bottomBar {
    display: flex;
    flex-grow: 0;
    justify-content: space-evenly;
    background-color: rgb(10, 19, 19);
    padding-top: 12px;
    padding-bottom: 12px;
}

.expandingBottomBar {
    display: flex;
    align-self: flex-end;
    align-self: stretch;
    flex-grow: 1;
    max-height: 250px;
    justify-content: space-evenly;
    align-items: center;

    height: 0px; /* 0 width - change this with JavaScript */
    width: 100%; /* 100% Full-width */
    
    background-color: rgba(217, 255, 0, 0.87); /* red */
    overflow-y: hidden; /* Disable verticle scroll */
    padding-bottom: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */

}

.moveStats {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#monStats1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.statSection {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#buttonMatcher {
    font-size: 0px;
}


/* Following example in link below 
    https://www.w3schools.com/howto/howto_js_collapse_sidebar.asp
*/